.profile-box {
  width: 800px;
  height: 700px;
  border: 1px solid #696969;
  display: flex;

}

.user {
  display: flex;
  margin: 40px 30px;
}

.user hr {
  background: #696969;
  width: 1px;
  height: 600px;
  border: none;
}

.user img {
  width: 150px;
  height: 150px
}