.profile-box {
  width: 800px;
  height: 700px;
  border: 1px solid #696969;
  display: flex;
}

.user {
  position: relative;
  display: flex;
  margin: 40px 0 0 30px;
}

.user hr {
  background: #696969;
  width: 1px;
  height: 600px;
  border: none;
  margin: 0;
}

.user img {
  width: 150px;
  height: 150px;
}

#edit-image {
  width: fit-content;
  font: 800 1rem Mukta;
  border:none;
  outline: none;
  background: none;
  color: #4F4F4F;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 30px;

}

.image-edit {
  width: 100px;
  height: 30px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  top: 180px;
  cursor: pointer;
}


.user div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}


#edit-user {
  width: fit-content;
  font: 800 1rem Mukta;
  border:none;
  outline: none;
  background: none;
  color: #4F4F4F;
  margin-bottom: 10px;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0 40px;
}

.details p {
  font: 400 1rem Mukta;
  color: #696969;
  line-height: 1.2rem;
  text-align: left;
}

.details #confirm-btn {
  margin-top: 40px;
  width: 200px;
  height: 50px;
  font: 800 1rem Mukta;
  background: #D3D3D3;
  border-radius: 10px;
  border: 1px solid #696969;
  color: #4F4F4F;
  cursor: pointer;
  outline: none;
}