.homepage {
  margin: 0 auto;
}

#signup-btn {
  width: 200px;
  height: 70px;
  font: 800 1.3rem Mukta;
  background: #D3D3D3;
  border-radius: 6px;
  border: 1px solid #696969;
  color: #4f4f4f;
  cursor: pointer;
  outline: none;
}

#signup-btn:hover {
  background: #a9a9a9;
}
