.field {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.field label {
  width: 120px;
  margin-right: 16px;
  font: 800 1.2rem Mukta;
  color: #696969;
  text-align: right;
}

#simple {
  width: 120px;
  height: 24px;
  font: 400 1.2rem Mukta;
  border: 1px solid #696969;
  border-radius: none;
  padding: 5px 10px;
  outline: none;
  margin-right: 20px;
}

#simple::-webkit-input-placeholder {
  text-align: center;
}

#default {
  height: 24px;
  font: 400 1.2rem Mukta;
  border: 1px solid #696969;
  border-radius: none;
  padding: 5px 10px;
  outline: none;
  width: 430px;
}
